.capsulePageMain{
    color: white;
    padding: 2em;
    padding-top: 5em;
    gap: 5em;

    justify-content: center;
}

.capsuleImage{
    height: 15dvw;
    /* aspect-ratio: 2/1; */
    border-radius: 1em;
    object-fit: cover;

    /* border: .3em solid #FFE7D5; */

    transition: .4s ease-out;
}
    .capsuleImage:hover{
        transform: scale(1.1);
    }

.capsuleVideo{
    height: 15dvw;
    aspect-ratio: 2/1;
    border-radius: 1em;
    object-fit: cover;

    /* border: .3em solid #FFE7D5; */

    transition: .4s ease-out;
}
    .capsuleVideo:hover{
        transform: scale(1.1);
    }

    
.capsuleText{    
    font-size: 1.3dvw;
    min-height: 20dvw;
    width: 20dvw;
    aspect-ratio: 2/1;
    border-radius: 1em;

    padding: 1em;

    border: .3em solid #FFE7D5;

    overflow: hidden; 
    text-overflow: ellipsis;
    word-wrap: break-word;

    transition: .4s ease-out;
}
    .capsuleText:hover{
        aspect-ratio: auto;
        background-color: #B6A3F1;
        
        flex-grow: 1;
        transform: scale(1.1);
    }

.uploadMediaButton{
    bottom: 3%;
    right: 3%;

    z-index: 1;
    position: fixed;

    transition: .1s ease-out;
}
    .uploadMediaButton:hover{
        transform: scale(1.1);
    }


.capsuleNotFound{
    font-size: 3dvw;
    color: white;
    font-family: 'Nova Mono';

    display: flex;
    align-items: center;
    justify-content: center;
}

.capsuleTextContainer{    
    font-size: 1.3dvw;
    min-height: 20dvw;
    width: 20dvw;
    aspect-ratio: 2/1;
    border-radius: 1em;

    padding: 1em;

    border: .3em solid #FFE7D5;

    overflow: hidden; 
    text-overflow: ellipsis;
    word-wrap: break-word;

    transition: .4s ease-out;
}
    .capsuleTextContainer:hover{
        aspect-ratio: auto;
        background-color: #B6A3F1;
        
        flex-grow: 1;
        transform: scale(1.1);
    }

.capsulePageMainMain{
    display: flex;
    padding-top: 5em;
    flex-direction: column;

    overflow-x: hidden;
}

.capsulePageTitle{
    font-size: 3dvw;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #8e78d1; /* indigo-600 */
    border-radius: 8px;
    border: .1em white solid;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.custom-file-upload:hover {
    color: white;
    background-color: #4338ca; /* indigo-700 */
}

@media(max-aspect-ratio:1/1){
    .capsulePageTitle{
        font-size: 8dvw;
    }

    .capsulePageMain{
        color: white;
        padding: 2em;
        padding-top: 3em;
        gap: 3em;

        justify-content: center;
    }

    .capsuleImage{
        height: 40dvw;
    }

    .capsuleVideo{
        height: 40dvw;
    }

    .capsuleText{    
        font-size: 4.2dvw;
        min-height: 40dvw;
        width: 70dvw;
        aspect-ratio: 2/1;
    }
}