.capsuleCardMain{
    flex-shrink: 0;
    flex-grow: 0;

    height: 22dvw;
    width: 17dvw;

    text-align: center;

    background-color: #B6A3F1;
    border: #FFDFC7 solid .5em;
    margin: 2em;
    border-radius: 1.5em;

    color: #222355;
    font-family: 'Nova Mono';

    font-size: 1.05dvw;

    transition: transform .4s ease-out;
}
    .capsuleCardMain:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
.capsuleUsername{
    margin-right: auto;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;

}

.capsuleUserImage{
    background-color: white;
    border: #222355 solid 0.15em;
    border-radius: 1em;
    
    width: 1.5em;
    aspect-ratio: 1/1;
    
    margin: .2em;
}

.capsuleUserDiv{
    font-size: 150%;

    width: 100%;
    padding: .3em;
}

.capsuleNameText{
    font-size: 2dvw;
    width: 100%;
    height: auto;

    margin-top: 25%;
    margin-bottom: 10%;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; /* Ensure it wraps */
}

.capsulePersonalCardMain{
    margin: 0;
    
    text-align: center;
}

.capsuleDateText{
    position: relative;
    margin-top: auto;
    margin-bottom: 2em;
}


/* Home */
.capsuleCardMainHome{
    height: 17dvw;
    width: 13.1dvw;
    font-size: .81dvw;
}

.capsuleUserImageHome{
    height: 1.5em;
    width: 1.5em;
}

@media(max-aspect-ratio: 1/1){
    .capsuleCardMain{
        height: 60dvw;
        width: 46.2dvw;
        font-size: 3dvw;
    }

    .capsuleUserImage{
        height: 1.5em;
        width: 1.5em;
        margin-right: .2em;
    }
    .capsuleUserDiv{
        font-size: 150%;
        padding: .1em;
    }

    .capsuleNameText{
        font-size: 6dvw;
    }
}