.capsuleCardMain{
    height: 22dvw;
    aspect-ratio: 3/4;

    background-color: #B6A3F1;
    border: #FFDFC7 solid .5em;
    margin: 2em;
    border-radius: 1.5em;

    color: #222355;
    font-family: 'Nova Mono';

    transition: transform .4s ease-out;
}
    .capsuleCardMain:hover{
        transform: scale(1.1);
    }

.capsuleUserImage{
    background-color: white;
    border: #222355 solid 0.2em;
    border-radius: 1em;
    
    width: 1.5em;
    aspect-ratio: 1/1;
    
    margin: .2em;
}

.capsuleUsername{
    
}

.capsuleUserDiv{
    font-size: 70%;

    width: 100%;
    padding: 1em;
}