button, input{
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.fullscreen{
    width: 100dvw;
    height: 100dvh;
}

.bold{
    font-weight: bold;
}

.mainPage{
    width: 100dvw;
    /* height: 100dvh; */
    flex: 1 1 auto;
    overflow: auto; 
    flex-grow: 1;

    align-items: center;

    background-color: var(--mainColor);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}