button, input{
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.items-start{
    align-items: flex-start;
}

.items-end{
    align-items: flex-end;
}

.fullscreen{
    width: 100dvw;
    height: 100dvh;
}

.bold{
    font-weight: bold;
}

.wrap{
    flex-wrap: wrap;
}

.mainPage{
    width: 100dvw;
    /* height: 100dvh; */
    flex: 1 1 auto;
    overflow: auto; 
    flex-grow: 1;

    align-items: center;

    background-color: var(--mainColor);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.novaFont{
    color: white;
    font-family: 'Nova Mono';
}