:root {
  --mainColor: #222355;

  --mainBtnColor: #88C7E9;
  --BtnTextColor: #333472;
  --clickBtnColor: #3d7990;

  --inputHighlightColor: #5796da;

  --highlightLinkColor: #5796da
}

.homePage{
    gap: 10dvw;

    padding-right: 10dvw;
    padding-left: 10vw;
}

.homeTitle{
    font-size: 6dvw;
    font-family: 'Nova Mono';
    color: #FFFFFF;
}

.homeText{
    font-size: 1.5dvw;
    font-family: 'Nova Mono';
    color: #FFFFFF;
}

.homeBtn{
    font-weight: bold;
    font-size: 2dvw;
    color: var(--BtnTextColor);
    
    height: 2.25em;
    width: 10em;
    background-color: #88C7E9;
    border-radius: 0.8em;
    margin: .3em;
}
    .homeBtn:hover {
        box-sizing: border-box;
        transition: 50ms;
        border: #345ed1 solid .4rem;
    }
    .homeBtn:active {
        border: 0;
        color: white;
        background-color: var(--clickBtnColor);   /* on click */
    }

.homeDiv1{
    gap: 10dvh;
}

.homeDiv2{
    gap: 20dvh;
}