.pageHeaderMain{
    width: 100dvw;
    font-size: 1.8dvw;
    flex-shrink: 0;

    background-color: #A3CBDE;
    border-bottom: #FFE7D5 solid 0.3em;

    color: #222355;
    font-family: 'Nova Mono';

    padding: 0 .5em;
    position: fixed;

    z-index: 10;
}

.userImg{
    background-color: white;
    border: #222355 solid 0.2em;
    border-radius: 1em;
    
    width: 1.5em;
    aspect-ratio: 1/1;
    
    margin: .2em;
}

.userWallBtn{
    font-size: 1.6dvw;
    margin: 0 .5em;
    padding: 0 .5em;
    border-radius: 1em;
    background-color: white;
}

.userDropdownMenu{
    font-size: .7em;
    background-color: #B6A3F1;
    position: absolute;

    top:100%;
    overflow: hidden;

    border-radius: 0 0 .5em .5em;
}

.userDropdownItem{
    padding: .5em;
}
    .userDropdownItem:hover{
        background-color: #8f7fc2;
    }

.guestHeaderButton{
    font-size: .9em;
    font-weight: bold;

    background-color: white;
    border-radius: 1em;
    padding: 0 .5em;
    margin: .25em .2em;
}