.popupDiv{
    z-index: 10;
    position: absolute;
    color: white;
    background-color: #1cb75f;
    text-align: center;
    padding: 1em 2em;
    border-radius: 1em;
    opacity: 1; 
}
.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
    pointer-events: none;
}

.fail{
    background-color: #b71c38;
}