.userProfileMain{
    justify-content: center;
}

.userFieldsCol{
    gap:2em
}

.userProfileInput{
    margin: 0;
    width: 20em;
}

.userFormRow{
    width: 60%;
    display: grid;
    grid-template-columns: 10dvw 1fr;
}

@media(max-aspect-ratio:1/1){
    .userFormRow{
        width: 100%;
        justify-content: space-evenly;
        grid-template-columns: auto;
    }
    .creationPopupDivUser{
        padding-top: 2em;
        padding-bottom: 2em;
        height: 100dvw;
    }
    .inputErrorMsg{
        font-size: 2.5dvw;
    }
}